@media (prefers-color-scheme: light) {
	:root {
		--fluent-accent: color-mix(in lab, #f3f3f3 35%, -moz-accent-color);
		--fluent-accent-text: #fff;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--fluent-accent: color-mix(in lab, #f3f3f3 50%, -moz-accent-color);
		--fluent-accent-text: #000;
	}
}