@import "./accent.css";

/* Mica */
#main-window {
	background-color: transparent !important;
	-moz-appearance: -moz-win-glass !important;
}
#navigator-toolbox {
	background: transparent !important;
}
#TabsToolbar {
	background-image: none !important;    /* Windows 7 */
}
/* fix duplicate title bar buttons */
.titlebar-buttonbox-container {
	display: block;
}
.titlebar-buttonbox {
	height: 30px;
}
.titlebar-button:not(.titlebar-close),
.titlebar-close:not(:hover) {
	list-style-image: none !important;
}

/* Segoe UI Variable */
* {
	font-family: "Segoe UI Variable" !important;
}