@import "./accent.css";

:root {
	--in-content-primary-button-text-color: var(--fluent-accent-text) !important;
	--in-content-primary-button-background: var(--fluent-accent) !important;
}

@-moz-document url-prefix(about:) {
	h1 {
		font-size: 40px !important;
		font-weight: 600 !important;
	}
	.addon-name {
		font-size: 16px !important;
		font-weight: 400 !important;
	}
	h2 {
		font-size: 18px !important;
		font-weight: 400 !important;
	}
	* {
		font-family: "Segoe UI Variable" !important;
	}
}